/*form {
   text-align: center;
   text-shadow: 3px 2px white;
   position: absolute;
    left: 30%;
    top: 20%;
  }*/

.container{
	border-radius: 4px;
	background-color: lightblue;
}
  h1{
  	text-align: center;
  }

h2{
	text-align: left;
}
p{
	height: 30px;
}


 